/* Fullscreen wrapper */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #ffffff; /* change or remove if you want transparent */
  z-index: 9999;
}

/* Center container */
.loader {
  position: absolute;
  inset: 0;
}

/* Main bars */
.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);

  background: #076fe5;
  width: 13.6px;
  height: 32px;

  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation-delay: 0.16s;
}

/* Before & After bars */
.jimu-primary-loading::before,
.jimu-primary-loading::after {
  position: absolute;
  top: 0;
  content: "";
  background: #076fe5;
  width: 13.6px;
  height: 32px;

  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
}

.jimu-primary-loading::before {
  left: -19.992px;
}

.jimu-primary-loading::after {
  left: 19.992px;
  animation-delay: 0.32s;
}

/* Animation */
@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
